body{
	background-color: #FFF;
    font-family: Helvetica, Arial;
    width:100%;
    height: 100%;
    margin:0px;
     font-family: sans-serif;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#adivina{
    font-size: 200%;
    padding-bottom: 8vh;
}

/* #content{
    width: 100%;
    height: 100%;
	margin: 0px ;
    background: #FFF;
} */

.letras{
    text-align: center;
}

#tablero{
    width: 100%;
    min-height: 200px;
    /*background-color:  #00796B;*/
    border: none;
    text-align: center;
    overflow: hidden;
    color:#000;
    padding-top: 8vh;
    
}

input[type="text"] {
  display: block;
  
  top:10px;
  line-height: 200%;
  box-shadow: none;
  border-radius: none;
  text-transform:uppercase
}

.left {  
    position:relative;
    left:0%;
    float: right;
    background: #757575;
    color:#ffffff;
    border:none ;
    width: 50%;
    height: 50vh;
    z-index: 1;
    margin:0px;
    text-align:left;
}

.marginText{
    margin-left: 10px;
    margin-top:30px;
    white-space:nowrap
}

.right {
    background: #FFC107;
    border: none;
    position:relative;
    display: inline-block;
    width: 50%;
    height: 50vh;
    z-index: 1;
    margin:0px;
    
}
.ahorcadoClass{
    background-repeat: no-repeat;
    height: auto; /*or your image's height*/
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.oculto{
visibility:hidden;
}

.visible{
    visibility:visible;
}

.cabecera{
   height: 100px;
}
.buttonCabecera{
    background: #FFC107;
    color:#000;
    border:none;
    outline: none;
    padding: 10px 20px;
    width: 33%;
    float: left;
    border: 2px solid #FFF; 

}

.color1{
    background: #FFC107;
}
.color2{
    background: #4CAF50;
}
.color3{
    background: #008CBA;
}

.button{
    background: #FFC107;
    color:#000;
    border:none;
    outline: none;
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.button:hover{
    background: gray;
}

 #modal {
  background: rgba(0,0,0,0.8);;
  font-size: 1em;
  color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all .1s;
  position: absolute;
  z-index: 9999;
  vertical-align: center;
  padding:0;
} 

.contentModal{
    text-align: center;
    align-content: center;
    background-color: #FFF;
    top: 40%;
    width: 30%;
    height: auto;
    min-height: 20%;
    padding: 2px;
    position: relative;
    border-radius: 2px;
    border: 2px #FFF solid;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


.close {
	background: #000;
	color: #FFFFFF;
    line-height: 25px;
    font-size: 14px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 25px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	 border: 2px #FFF solid;
}

.close:hover { background: gray; }

 #inputLetra{
    border-color:#000;
    border-width:2px;
    width: 15px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
} 

#inputResolver{
    border-color:#000;
    border-width:2px;
    width: 250px !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-block !important;
}

.input-w label, .input-w input {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;    
}


