
<div>
  <!-- <h2>{{title}}</h2>
<h4>{{description}}</h4> -->
  <div class="cabecera">
    <button class="buttonCabecera color1" (click)="onTab(0)" style="width: 100%">Ahorcado</button>
    <!-- <button class="buttonCabecera color2" (click)="onTab(1)">Ordenados</button>
      <button class="buttonCabecera color3" (click)="onTab(2)">Calculadora</button> -->
  </div>

  <div *ngIf="mostrar == 0">
    <teclado-hangman></teclado-hangman>
    <imagen-hangman></imagen-hangman>
    <tablero-hangman></tablero-hangman>
  </div>
  <!-- <div *ngIf="mostrar == 1">
    <span>Ordenados</span>
  </div>
  <div *ngIf="mostrar == 2">
    <span>Calculadora</span>
  </div> -->

</div>
